*.o
*.bin
*.elf
tools/*


code/os/02-memanagement/tags
code/os/03-contextswitch/tags
code/os/04-multitask/tags
code/os/06-interrupts/tags
code/os/05-traps/tags
code/os/07-hwtimer/tags
code/os/08-preemptive/tags
code/os/exercise/13-timeslice/tags
code/os/exercise/13-timeslice/tags
code/os/exercise/13-timeslice/tags